h1
{
    color: black;
    text-align: center;
    border-bottom: 5px double navy;
}
.right
{
    width: 50%;
    margin: auto;
    height: 800px;
    background-color: rgb(112, 56, 56);
    padding: 0px 0px;
}
.right h2
{
    padding: 10px 0px;
    color: white;
    text-align: center;
    text-decoration: underline;
}
.para
{
    height: 400px;
    background-color: transparent;
    margin: auto;
    margin-left: 10%;
    margin-right: 10%;
}
.para p 
{
    color: white;
    font-size: 20px;
}
.address
{
    float: left;
    font-size: 20px;
    color: white;
}
.address i
{

    font-size: 20px;
    color: white;
    padding: 10px 0px;
}
.phone
{
    float: left;
    font-size: 20px;
    color: white;
    padding: 10px 0px;
}
.phone i
{
    font-size: 20px;
    color: white;
    padding: 10px 0px;
} 
.mail 
{
    float: left;
    font-size: 20px;
    color: white;
    padding: 10px 0px;
}

.mail i
{
    font-size: 20px;
    color: white;
    padding: 10px 0px;
    border: 1px;
}